.my-menu {
  $btn-size: 32px;
  $tooltip-size: 12px;
  position: relative;

  &-contents {
    @include pos-center-x;
    top: $btn-size + $tooltip-size + 8px;
    border-radius: 4px;
    box-shadow: $dropdown-shadow;

    &::before,
    &:after {
      @include pos-center-x;
      top: -#{$tooltip-size * 2};
      display: block;
      width: 0;
      height: 0;
      border-top: $tooltip-size solid transparent;
      border-right: 9px solid transparent;
      border-bottom: $tooltip-size solid $border;
      border-left: 9px solid transparent;
      content: '';
    }

    &::after {
      top: -#{($tooltip-size * 2)-2};
      border-bottom-color: $white;
    }
  }

  &-btn {
    width: $btn-size;
    height: $btn-size;
    overflow: hidden;
    border: 3px solid $white;
    border-radius: 50%;
    transition: border-color 200ms ease-in-out;
    object-fit: cover;

    &:hover,
    &.is-active {
      border-color: $blue;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-list {
    width: 200px;
    padding: 8px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
  }

  &-item {
    a,
    button {
      @include flexbox(start);
      width: 100%;
      height: 44px;
      padding: 0 8px;
      border-radius: 2px;

      &:hover {
        background-color: $background;
      }
    }
  }
}
