.global-header {
  height: $gnb-height-sm + $lnb-height-sm;

  .gnb,
  .lnb {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $gnb-level;
    width: 100%;
  }

  .lnb {
    top: $gnb-height-sm;
    z-index: $lnb-level;
  }

  @include responsive(T) {
    height: $gnb-height-md + $lnb-height-md;

    .lnb {
      top: $gnb-height-md;
    }
  }
}
