.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .btn-group {
      @include flexbox(end);
    }
  }

  &-icon-btn {
    .is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    .logo {
      position: static;
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .btn-group {
        margin-right: 24px;
      }

      .btn-primary {
        width: 88px;

        i {
          margin-left: 4px;
        }
      }
    }

    &-icon-btn {
      margin-right: 8px;
    }

    &-auth {
      margin-left: 8px;

      a {
        @include text-style(14, $secondary);
        font-weight: 700;
        transition: color 200ms ease-in-out;

        &:first-child {
          margin-right: 12px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
