.gnb {
  position: relative;
  background: $white;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: $gnb-height-sm - 1px; //gnb border가 1px 추가되어 height가 51px이 되는 현상을 수정하기 위해 1px 빼줌.
  }

  &-right {
    .btn-group {
      @include flexbox(end);
    }
  }

  &-icon-btn {
    .is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: $gnb-height-md - 1px;
    }

    .logo {
      position: static;
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .btn-group {
        margin-right: 24px;
      }

      .btn-primary {
        width: 88px;

        i {
          margin-left: 4px;
        }
      }
    }

    &-icon-btn {
      margin-right: 8px;
    }
  }

  &-auth {
    margin-left: 8px;

    a {
      @include text-style(14, $secondary);
      font-weight: 700;
      transition: color 200ms ease-in-out;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(D) {
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 4px;
        box-shadow: $dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
