.lnb {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    position: relative;
    left: -8px;
    white-space: nowrap;
  }

  &-item {
    a {
      @include text-style(13, $dark);
      @include inline-flexbox;
      height: 40px;
      padding: 0 8px;
      font-weight: 700;
    }

    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    .ic-new {
      color: $red;
    }
  }
}
